@media screen and (max-width: 1024px) {
	body {
		/* width: 1007px; */
	}
}
@media screen and (max-width: 800px) {
	body {
		/* width: 790px; */
	}
}
body {
	width:100%;
	
	margin:auto; 
}
#wrap {
	width:100%;
	direction:rtl;
	font-family: tahoma;
	margin:auto;
	
	/*
	background: rgb(252,234,187);
	background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1)));
	background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
	
background: #eeeeee;
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
*/



}

/*
	@@@@@@@@@@@@@@@@@@@@@
		Header
	@@@@@@@@@@@@@@@@@@@@@
*/
header {
	width:100%;
	padding-bottom: 3em;
	float:right;
	
	box-shadow: inset 0px 0px 100px -30px #000000,0px 0px 2px 0px #000000;
	-webkit-box-shadow: inset 0px 0px 100px -30px #000000,0px 0px 2px 0px #000000;
	-moz-box-shadow: inset 0px 0px 100px -30px #000000,0px 0px 2px 0px #000000;
	-o-box-shadow: inset 0px 0px 100px -30px #000000,0px 0px 2px 0px #000000;
	
	/*
	background-image: url(../images/phone.png), -moz-linear-gradient(top,  #eaf2b0 0%, #edf9b5 10%, #eaf2b0 20%, #edf9b5 30%, #eaf2b0 40%, #edf9b5 50%, #eaf2b0 60%, #edf9b5 70%, #eaf2b0 80%, #edf9b5 90%, #eaf2b0 100%);
	background-image: url(../images/phone.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaf2b0), color-stop(10%,#edf9b5), color-stop(20%,#eaf2b0), color-stop(30%,#edf9b5), color-stop(40%,#eaf2b0), color-stop(50%,#edf9b5), color-stop(60%,#eaf2b0), color-stop(70%,#edf9b5), color-stop(80%,#eaf2b0), color-stop(90%,#edf9b5), color-stop(100%,#eaf2b0));
	background-image: url(../images/phone.png), -webkit-linear-gradient(top,  #eaf2b0 0%,#edf9b5 10%,#eaf2b0 20%,#edf9b5 30%,#eaf2b0 40%,#edf9b5 50%,#eaf2b0 60%,#edf9b5 70%,#eaf2b0 80%,#edf9b5 90%,#eaf2b0 100%);
	background-image: url(../images/phone.png), -o-linear-gradient(top,  #eaf2b0 0%,#edf9b5 10%,#eaf2b0 20%,#edf9b5 30%,#eaf2b0 40%,#edf9b5 50%,#eaf2b0 60%,#edf9b5 70%,#eaf2b0 80%,#edf9b5 90%,#eaf2b0 100%);
	background-image: url(../images/phone.png), -ms-linear-gradient(top,  #eaf2b0 0%,#edf9b5 10%,#eaf2b0 20%,#edf9b5 30%,#eaf2b0 40%,#edf9b5 50%,#eaf2b0 60%,#edf9b5 70%,#eaf2b0 80%,#edf9b5 90%,#eaf2b0 100%);
	background-image: url(../images/phone.png), linear-gradient(to bottom,  #eaf2b0 0%,#edf9b5 10%,#eaf2b0 20%,#edf9b5 30%,#eaf2b0 40%,#edf9b5 50%,#eaf2b0 60%,#edf9b5 70%,#eaf2b0 80%,#edf9b5 90%,#eaf2b0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf2b0', endColorstr='#eaf2b0',GradientType=0 );*/
	
	background-color: #0e4c81;
	background-image:
		url('../images/211.png'),
		url('../images/122.png'),
		url('../images/132.png'),
		url('../images/phone.png'),
		url('../images/asfalt-dark.png');
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		repeat;
	background-position:
		69em 3em,
		22em 4em,
		51em 3em,
		2% 0%,
		0% 0%;
}

nav {
	width:100%;
	float:right;
	margin:0px;
	/* box-shadow:0px 1px 3px rgba(0,0,0,0.2); */
	z-index:1;
}
nav ul, nav li {
	margin:0px;
	list-style:none;
}

.navigation {
	float:left;
	margin-left:18%;
	margin-top:1.5%;
	border-top:1px solid #4F4F4F;
	border-bottom:1px solid #4F4F4F;
	/*
	background: rgb(69,72,77);
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
	*/
}
.navigation > li {
	
	float:right;
	display:inline-block;
	font-size:14px;
	
	
}
.navigation > li > a {
	display:inline-block;
	border-left: 1px solid #4F4F4F;
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
	float:right;
	text-decoration: none;
	color: #D2D2D2;
	border-radius: 2px;
	text-align: center;
	
	transition:all linear 0.20s;
	

}
.navigation > li:hover > a {
	color: white;
	background-color:rgba(17, 117, 146, 0.58);
}
.navigation :first-child > a {
	border-right:1px solid #4F4F4F;
}




.navigation .home {
	background-image:url('../images/h3.png');
	background-repeat:no-repeat;
	background-position: 86% 51%;
    padding: 1.5em 3em 1.5em 1em;
}
.navigation .info {
	background-image:url('../images/cc.png');
	background-repeat:no-repeat;
	background-position: 92% 56%;
    padding: 1.5em 3.5em 1.5em 1em;
}
.navigation .about-us {
	background-image:url('../images/a.png');
	background-repeat:no-repeat;
	background-position: 87% 51%;
    padding: 1.5em 3.5em 1.5em 1em;
}
.navigation .contact-us {
	background-image:url('../images/c.png');
	background-repeat:no-repeat;
	background-position: 89% 51%;
    padding: 1.5em 3.5em 1.5em 1em;
}






.menu {
	float:right;
	position:relative;
	display:inline-block;
	margin-right:8%;
	margin-top:1.5%;
	border:1px solid #4F4F4F;
	/* border-left:1px solid #4F4F4F; */
}
.menu > .smbutton{
	float:right;
	display:inline-block;
	
	font-size:19px;
	margin:1px;

	padding: 14px 63px 14px 28px;
	display:inline-block;
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
	float:right;
	text-decoration: none;
	color: #D2D2D2;
	font-weight: bold;
	border-radius: 2px;
	text-align: center;
	
	background-image: url(../images/menu.png);
    background-repeat: no-repeat;
	background-position: 82% 69%;
}
.menu > .smbutton:hover {
	color: white;
	background-color:rgba(17, 117, 146, 0.58);
	/*
	background: rgb(255,76,124);
	background: -moz-linear-gradient(top,  rgba(255,76,124,1) 0%, rgba(234,2,64,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,76,124,1)), color-stop(100%,rgba(234,2,64,1)));
	background: -webkit-linear-gradient(top,  rgba(255,76,124,1) 0%,rgba(234,2,64,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,76,124,1) 0%,rgba(234,2,64,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,76,124,1) 0%,rgba(234,2,64,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,76,124,1) 0%,rgba(234,2,64,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4c7c', endColorstr='#ea0240',GradientType=0 );
	*/
}
.menu .arrow {
	font-size:11px;
	line-height:0%;
}
nav li:hover .sub-menu {
	/* z-index:1; */
	/* opacity:1; */
}


.submenu_wrap {
	
}
.sub-menu {
	width:200%;
	position:absolute;
	top: 100%;
    right:0%;
	z-index:-1;
	/* opacity:1; */
	transition:opacity linear 0.35s;
	box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	
	background:#2e2728;
}

.sub-menu > li {
	display:block;
	font-size:16px;
}
.sub-menu > li > a {
	transition:all linear 0.3s;
	color:#919191;
	padding:10px;
	width:93.6%;
	display:inline-block;
	/* text-shadow:0px 1px 0px rgba(0,0,0,0.4); */
	/* text-shadow: 0px 0px 2px rgba(64,64,64,1); */
	
	text-decoration: none;
	color: #D2D2D2;
	border-bottom:1px solid #4F4F4F;
	text-align: right;
}
.sub-menu > li :hover {
	/* background:#3e3436; */
	color:white;
	
	background: rgb(241, 26, 83);
	
	
}
nav .visible {
	z-index:1;
	opacity:1;
}
nav .current_item > a {
	color:#FF6991;
}





nav ul   a.main_nav {
	/* width:106px; */
}
nav ul   a.sub-menu {
	/* width:270px; */
}




nav 	ul  a:active {
	position: relative;
	top: 1px;
}



/*
	@@@@@@@@@@@@@@@@@@@@@
		Content
	@@@@@@@@@@@@@@@@@@@@@
*/
#contents{
	float:right;
	
}
#contents:hover {
	
}




.texts {
	/* margin-top: 40%; */
	float:right;
	/*
	background: #fceabb;
	background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 54%, #fbdf93 68%, #fccd4d 92%, #fccd4d 92%, #fbdf93 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(54%,#fccd4d), color-stop(68%,#fbdf93), color-stop(92%,#fccd4d), color-stop(92%,#fccd4d), color-stop(100%,#fbdf93));
	background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 54%,#fbdf93 68%,#fccd4d 92%,#fccd4d 92%,#fbdf93 100%);
	background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 54%,#fbdf93 68%,#fccd4d 92%,#fccd4d 92%,#fbdf93 100%);
	background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 54%,#fbdf93 68%,#fccd4d 92%,#fccd4d 92%,#fbdf93 100%);
	background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 54%,#fbdf93 68%,#fccd4d 92%,#fccd4d 92%,#fbdf93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
*/

/*fce08d C17400 c90028  diagmonds-light*/
	background-color:#BBB97F; 
	background-image: url('../images/concrete-wall.png');
	background-repeat:repeat;



}
.texts {
	box-shadow: 0 0 13px -1px rgba(0,0,0, 0.6);
}



.section1 {
	float: right;
    padding: 1%;
    
}
.boxes {
	margin: 0% 2% 0% 0%;
	height: 270px;
}
.boxes p {
	float: right;
	color: rgb(47, 26, 26);
	padding: 2% 2% 2% 2%;
}
.boxes img {
	float: right;
    margin: 2% 10% 0% 0%;
	
}
.box1 {
	width: 30%;
	float: right;
	border: 2px solid #3D4348;
}
.box2 {
	width: 30%;
	float: right;
	border: 2px solid #3D4348;
	
}
.box3 {
	width: 30%;
	float: right;
	border: 2px solid #3D4348;
	
}





.section2 {
	padding-right: 1em;
    padding-left: 1em;
}
.section2 ul {
	float:right;
	padding-top: 1em;
	list-style:none;
}
.section2 li{
	width:100%;
}

.section2 h6 {
	width:100%;
	color:#31234C;
}

.buy {
	width:50%;
	background: rgba(255, 200, 0, 0.12);
	float:right;
}
.buy ul {
	float:right;
}
.buy .buyicons {
	clear:both;
}
.buy .buyheadlines {
	width:30%;
}
.buy .buyheadlines li {
	margin-bottom: 1em;
}
.buy > div{
	/* position:relative; */
	width:300px;
	height:300px;
	margin-right: 4em;
	background:url('../images/se/8.png') no-repeat 0% 0%;
}
.buy > div > h3  {
	/* position:absolute;
	top: 1.5em;
    right: 6.2em; */
	color:white;
	padding-top: 2.4em;
	margin-right: 6.2em;
    
}
.buy :nth-child(3) h6  {
	/* margin-right: 11em;
    padding-top: 2em; */
}


.buyicons div {
	width:150px;
	height:150px;
}
.buyicons :nth-child(1) div  {
	background:url('../images/se/ebook.png') no-repeat 0% 0%;
}
.buyicons :nth-child(2) div  {
	background:url('../images/se/software.png') no-repeat 0% 0%;
}
.buyicons :nth-child(2) div  {
	background:url('../images/se/host2.png') no-repeat 0% 0%;
}
.buyicons :nth-child(3) div  {
	background:url('../images/se/online-shoping.png') no-repeat 0% 0%;
}
.buyicons :nth-child(4) div  {
	background:url('../images/se/ticket.png') no-repeat 0% 0%;
}
.buyicons :nth-child(5) div  {
	background:url('../images/se/tickett.png') no-repeat 0% 0%;
}
.buyicons :nth-child(6) div  {
	background:url('../images/se/online-shoping.png') no-repeat 0% 0%;
}




.pay {
	width:50%;
	background: rgba(98, 0, 255, 0.12);
	float:left;
}
.pay :first-child div {
	width:300px;
	height:300px;
	margin-right: 4em;
	background:url('../images/se/9.png') no-repeat 0% 0%;
}
.pay :first-child h3 {
	color:white;
	padding-top: 2em;
	margin-right: 4em;
}

.section2 {
	
}




.section3 {
	clear:both;
}
.section3 h1 {
	margin:0% 1% 2% 1%;
}
.section3 h1 {
	
}



.new {
	width: 100%;
    height: 380px;
	position:relative;
	border-bottom: 2px solid #7D7D7D;
	border-top: 2px solid #7D7D7D;
box-shadow: inset 0px 0px 100px -30px #000000,0px 0px 0px 0px #FFFFFF;
-webkit-box-shadow: inset 0px 0px 100px -30px #000000,0px 0px 0px 0px #FFFFFF;
-moz-box-shadow: inset 0px 0px 100px -30px #000000,0px 0px 0px 0px #FFFFFF;
-o-box-shadow: inset 0px 0px 100px -30px #000000,0px 0px 0px 0px #FFFFFF;
	
	background-color: #001a00;
	background-image:
		url('../images/51.png'),
		url('../images/58.png'),
		url('../images/bright-squares.png');
	
	background-repeat:
		no-repeat,
		no-repeat,
		repeat;
	background-position:
		100%,
		0%,
		0% 0%;

/* #003c7d */
}



.slider_wrap {
 
    margin-right: 19%;
}
.new:hover .nextprevplaypause {
 opacity:1;
 cursor: pointer;
}
.nextprevplaypause {
 z-index:1;
 position:absolute;
 opacity:0;
 width:20px;
 height:20px;
 
}
.nextprevplaypause  {
 transition: 0.5s all;
}
input.nextprevplaypause  {
 border:none;
 outline:none;
}

#prev{
    top: 50%;
    left: 1%;
 background: url('../images/slider/prev.png') no-repeat center;
}
#prev:hover{
 background-image: url('../images/slider/prevh.png');
}
#prev:active{
 top: 48%;
}

#next {
    top: 50%;
    right: 1%;
	background: url('../images/slider/next.png') no-repeat center;
}
#next:hover{
 background-image: url('../images/slider/nexth.png');
}
#next:active{
 top: 48%;
}

#play-pause{
	top: 90%;
    right: 16%;
 background: url('../images/slider/pause.png') no-repeat center;
}
.pause {}
.playing {}
#play-pause:hover{
 
}
#play-pause:active{
 top: 48%;
}
#bullets {
 position: absolute;
 top: 92%;
 left: 45%;
 z-index: 1;
}
.bullet {
 background-color: rgba(255, 255, 255, 0.39);
 border: 1px solid rgba(255, 255, 255, 0.5);
 border-style:inset;
 border-radius:100px;
 width:10px;
 height:10px;
 display:inline-block;
 
 /* visibility:hidden; */
}
.bullet:hover{
 border: 1px solid rgba(255, 255, 255, 0.8);
 cursor: pointer;
 border-style:inset;
}
.bullet:active {
 border-style:outset;
}
.current-bullet {
 background-color: rgba(255, 12, 66, 0.56);
}

.slider_wrap img {
	width:640px;
	height:380px;
 
}
.slide-wrap {
	/* visibility:hidden; */
	width:640px;
	height:380px;
	overflow:hidden;
	position:absolute;
	top: 0%;

	opacity:1;
 
}



.frame-wrap p {
 position:absolute;
 border-radius: 3px;
}
.text-style1 {
 background-color:rgba(154, 14, 66, 0.8);
 color:white;
 position:absolute;
}
.text-style2 {
 background-color:rgba(14, 71, 154, 0.62);
 color:white;
 position:absolute;
}
.text-style3 {
 background-color:rgba(0, 111, 4, 0.41);
 color:white;
 position:absolute;
}

.descs {
 padding:5px;
 opacity:1;
}
.short_desc {
 top:10%;
 right:120%;
}
.long_desc {
 width:50%
}

.slide1_desc1 {
 top:10%;
 right:120%;
}
.slide1_desc2 {
 width:50%;
 top:-99%;
 right:20px;
}
.slide2_desc1 {
 top:10%;
 left:120%;
}
.slide2_desc2 {
 width:50%;
 top:-99%;
 right:280px;
}
.slide3_desc1 {
 top:10%;
 right:120%;
}
.slide3_desc2 {
 width:50%;
 top:-99%;
 right:20px;
}
.slide4_desc1 {
 top:10%;
 left:120%;
}
.slide4_desc2 {
 width:50%;
 top:-99%;
 right:280px;
}
.slide5_desc1 {
 top:10%;
 right:120%;
}
.slide5_desc2 {
 width:50%;
 top:-99%;
 right:20px;
}
.slide6_desc1 {
 top:10%;
 left:120%;
}
.slide6_desc2 {
 width:50%;
 top:-99%;
 right:280px;
}
.slide7_desc1 {
 top:10%;
 right:120%;
}
.slide7_desc2 {
 width:50%;
 top:-99%;
 right:20px;
}
.slide8_desc1 {
 top:10%;
 left:120%;
}
.slide8_desc2 {
 width:50%;
 top:-99%;
 right:280px;
}
.slide9_desc1 {
 top:10%;
 right:120%;
}
.slide9_desc2 {
 width:50%;
 top:-99%;
 right:20px;
}
.slide10_desc1 {
 top:10%;
 left:120%;
}
.slide10_desc2 {
 width:50%;
 top:-99%;
 right:280px;
}



















/*
	@@@@@@@@@@@@@@@@@@@@@
		Footer
	@@@@@@@@@@@@@@@@@@@@@
*/

footer {
	width: 100%;
	float:right;
	padding: 10px;
	
	/*
	background: rgb(20,20,20);
	background: -moz-linear-gradient(top,  rgba(20,20,20,1) 0%, rgba(0,17,28,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,20,20,1)), color-stop(100%,rgba(0,17,28,1)));
	background: -webkit-linear-gradient(top,  rgba(20,20,20,1) 0%,rgba(0,17,28,1) 100%);
	background: -o-linear-gradient(top,  rgba(20,20,20,1) 0%,rgba(0,17,28,1) 100%);
	background: -ms-linear-gradient(top,  rgba(20,20,20,1) 0%,rgba(0,17,28,1) 100%);
	background: linear-gradient(to bottom,  rgba(20,20,20,1) 0%,rgba(0,17,28,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#00111c',GradientType=0 );
	*/
	background-color: #000000;
	background-image: url('../images/shattered-dark.png');
	background-repeat:repeat;

}
	footer *{
		color:white;
	}
.last_bottom {
	text-align:center;
	margin:0 12%;
	padding-top:20%;
	
}









.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: right;
}
.grid_1 {
	width: 8.34%;
}

.grid_2 {
	width: 16.68%;
}

.grid_3 {
	width: 25.02%;
}

.grid_4 {
	width: 33.36%;
}

.grid_5 {
	width: 41.7%;
}

.grid_6 {
	width: 50.0%;
}

.grid_7 {
	width: 58.38%;
}

.grid_8 {
	width: 66.72%;
}

.grid_9 {
	width: 75.06%;
}

.grid_10 {
	width: 83.4%;
}

.grid_11 {
	width: 91.74%;
}

.grid_12 {
	width: 100.08%;
}